@font-face {
  font-family: "segoe";
  src: url(../assets/segoeui.ttf);
}

@font-face {
  font-family: "segoesemibold";
  src: url(../assets/seguisb.ttf);
}

@font-face {
  font-family: "segoebold";
  src: url(../assets/segoeuib.ttf);
}

:root {
  --background: #293744;
}

* {
  box-sizing: border-box;
  font-family: "segoe";
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background);
}
