.card {
  height: 220px;
  width: 220px;
  margin: 20px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6c6c6c;
  padding-bottom: 10px;
}

.image-container {
  justify-self: center;
  align-self: center;
  width: 120px;
  height: 120px;
}

h3 {
  font-family: "segoebold";
  margin: 0;
  color: white;
}

h5 {
  font-family: "segoe";
  font-weight: 100;
  margin: 0;
  color: white;
  padding: 1px 0;
}

@media only screen and (max-width: 425px) {
  .card {
    height: 170px;
    width: 170px;
  }

  .image-container {
    justify-self: center;
    align-self: center;
    width: 80px;
    height: 80px;
  }

  .image-container img {
    width: 80px;
    height: 80px;
  }

  h3 {
    font-size: 15px;
  }

  h5 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    height: 165px;
    width: 165px;
  }
}
